!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title Escuelab.org: "No hay cambio sin experimento" #enji2013
    meta(name='description', content='Presentación para #enji2013')
    meta(name='author', content='Mariano Crowe')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='css/reveal.min.css')
    link#theme(rel='stylesheet', href='css/theme/night.css')
    //
       For syntax highlighting 
    link(rel='stylesheet', href='lib/css/zenburn.css')
    //
       If the query includes 'print-pdf', use the PDF print sheet 
    script
      document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    //if lt IE 9
      script(src='lib/js/html5shiv.js')
    link(rel='stylesheet', href='css/main.css')
  body
    .reveal
      //
         Any section element inside of this container is displayed as a slide 
      .slides
        section

        section
          h2 Mapa y foro de tunuyan
          aside.notes
            | Tunuyán, un lugar hermoso, pero para un adolescente no pasa nada

        section
          p
            los primeros libros

        section
          h2 curiosidad
          h2 cuestionamiento

        section
          h2 imagen universidad

        section
          h2 imagen harry potter
          aside.notes
            ul
              li aprender a pensar pensando
              li aprender a experimentar experimentando
              li open-source
              li con la cantidad de cosas que hay para aprender, por que estoy aprendiendo cosas q no quiero

            h3 1er experimento -- dejar la universidad, comenzar a trabajar
            ul
              li como practicante aprender solo a través de internet

        section
          h2 conocimiento libre
          h2 incertidumbre
          h2 desafío

          aside.notes
            p Muchos experimentos: viajar, y trabajar en empresas grandes, medianas y pequeñas, como freelancer, hacer investigación
            p Armar un arcenal de herramientas open source -- la herramienta correcta para el problema indicado
            p Principal problema: cuando uno se vuelve funcional a una empresa, tu jefe ya no quiere que hagas otra cosa

        section
          h2 bored cat

        section
          div
            h2 monotonía
            h2 aburrimiento

          .fragment
            h1 &ne; 
            h2 libertad
            h2 pasión
            h2 diversión

          aside.notes
            p Ya nunca más voy a volver a poder trabajar en relación de dependencia

        section.spaced
          h1
            i &iquest;No será que soy emprendedor?

        section
          h2 kiko y escuelab

        section
          section
            h2 1er experimento:
            h2
              a(href="https://twitter.com/hablemosquechua" target="_blank") @hablemosquechua

          section.tweets
            div
              | <blockquote class="twitter-tweet" align="center"><p>La palabra en quechua para &quot;amor&quot; podría ser &quot;khuyay&quot;</p>&mdash; hablemos quechua (@hablemosquechua) <a href="https://twitter.com/hablemosquechua/statuses/319590138407710720">April 3, 2013</a></blockquote>
              | <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

              | <blockquote class="twitter-tweet" align="center"><p>Cuando a los incas los hackeaban, ponian cara de preocupación y decian &quot;hackearpariwanchik&quot; via <a href="https://twitter.com/sankaypillo">@sankaypillo</a></p>&mdash; hablemos quechua (@hablemosquechua) <a href="https://twitter.com/hablemosquechua/statuses/378646908291399680">September 13, 2013</a></blockquote>
              | <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

            aside.notes
              | 100 followers en 1 hora, 6000+ followers
              | campaña para san valentin: trending topic en peru y 500 followers en un día


          section.tweets
            div
              | <blockquote class="twitter-tweet" align="center"><p>Vecinos, ojo!&#10; ¿Caminar malecón ser peligroso? ¿Qué hará hoy mi alcalde?&#10; <a href="http://t.co/ZKt1HhNJ">http://t.co/ZKt1HhNJ</a></p>&mdash; Lléname tu Agenda (@llenametuagenda) <a href="https://twitter.com/llenametuagenda/statuses/128154511259873280">October 23, 2011</a></blockquote>
              | <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

              | <blockquote class="twitter-tweet" align="center"><p>Vecinos, en este momento.&#10; Atropellaron a un chico en la esquina.&#10; ¿Qué hizo la semana pasada mi alcalde?&#10; <a href="http://t.co/txIqOwxH">http://t.co/txIqOwxH</a></p>&mdash; Lléname tu Agenda (@llenametuagenda) <a href="https://twitter.com/llenametuagenda/statuses/126543663668019202">October 19, 2011</a></blockquote>
              | <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

            aside.notes
              | 100 followers en 2 meses, 2 años despues tiene 200

          section
            h3 &iquest; Qué aprendimos?
            ul
              li
                h2 poesía
              li
                h2 humanización

        section
          section
            h2 2ndo experimento:
            h2 Hackatones y open data

          section
            h2 fotos
            aside.notes
              | Hace 2 años comenzamos con la muni lima. El año pasado hicimos la hackatón de lima, este año la está organizando independientemente con los entregables de nuestro estudio

          section
            h2 lima.io

          section
            h3 &iquest; Qué aprendimos?
            ul
              li
                h2 es un proceso
              li
                h2 es replicable
              li
                h2 faltan datos abiertos
              li
                h2 sobra talento

        section
          section
            h2 3er experimento:
            h2 Apropiación tecnológica

          section
            h2 fotos de techcamp, ciencia de garage y pixelhack
            aside.notes
              | trabajamos con adolescentes, jovenes y ongs
              | los procesos con los jóvenes fueron un éxito
              | los procesos de las ongs quedaron truncos, porque sus problemas son demasiados comunes y aburridos

          section
            h3 &iquest; Qué aprendimos?
            ul
              li
                h2 los jóvenes son más ágiles
              li
                h2
                  | la
                  | <big>diversión</big>
                  | es fundamental
              li
                h2 la apropiación no se puede tercerizar

        section
          section
            h2 4to experimento:
            h2 Coworking

            aside.notes
              | hoy estamos sin espacio y sin todavía saber si queremos uno

          section
            h3 &iquest; Qué aprendimos?
            ul
              li
                h2 el centro de lima no es ideal
              li
                h2 espacios desaprovechados
              li
                h2 gente chévere

        section(data-transition="none")
          h2 &nbsp;
          div(style="float: left")
            ul
              li
                h3 curiosidad
              li
                h3 cuestionamiento
              li
                h3 experimentación
              li
                h3 desafío
              li
                h3 conocimiento libre
          div(style="float: right")
            ul
              li
                h3 incertidumbre
              li
                h3 pasión
              li
                h3 libertad
              li
                h3 creatividad
              li
                h3 diversión

        section(data-transition="none" style="clear: both;")
          h2 Valores del HACKER
          div(style="float: left")
            ul
              li
                h3 curiosidad
              li
                h3 cuestionamiento
              li
                h3 experimentación
              li
                h3 desafío
              li
                h3 conocimiento libre
          div(style="float: right")
            ul
              li
                h3 incertidumbre
              li
                h3 pasión
              li
                h3 libertad
              li
                h3 creatividad
              li
                h3 diversión

        section.spaced
          h2
            i "Un hacker es aquel que trabaja con gran pasión y entusiasmo por lo que hace."
          br
          h4
            | Himanen Pekka,
            | <i>La ética del hacker y el espíritu de la era de la información</i>

        section
          h2 Los emprededores
          h2.fragment somos
          h1.fragment hackers

        section
          h1 No hay cambio sin experimento
          h3 La experiencia de
            a(href='http://escuelab.org' target='_blank') escuelab.org
          p
            small
              | Mariano Crowe
              | /
              a(href='http://twitter.com/escuelab') @escuelab
              | /
              | <iframe src="http://ghbtns.com/github-btn.html?user=merunga&repo=enji2013&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="150" height="25"></iframe>
          p
            small
              a(href='http://creativecommons.org/licenses/by-sa/3.0/deed.es_CO', target='_blank')
                img(src='http://es.creativecommons.org/blog/wp-content/uploads/2013/04/by-sa_petit.png', alt='cc-by-sa')



      //
        section
          section
            h2 Vertical Slides
            p
              | Slides can be nested inside of other slides,
              | try pressing
              a.navigate-down(href='#') down
              | .
            a.image.navigate-down(href='#')
              img(width='178', height='238', src='https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png', alt='Down arrow')
          section
            h2 Basement Level 1
            p Press down or up to navigate.
          section
            h2 Basement Level 2
            p Cornify
            a.test(href='http://cornify.com')
              img(width='280', height='326', src='https://s3.amazonaws.com/hakim-static/reveal-js/cornify.gif', alt='Unicorn')
          section
            h2 Basement Level 3
            p That's it, time to go back up.
            a.image(href='#/2')
              img(width='178', height='238', src='https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png', alt='Up arrow', style='-webkit-transform: rotate(180deg);')
        section
          h2 Slides
          p
            | Not a coder? No problem. There's a fully-featured visual editor for authoring these, try it out at
            a(href='http://slid.es', target='_blank') http://slid.es
            | .
        section
          h2 Point of View
          p
            | Press
            strong ESC
            | to enter the slide overview.
          p
            | Hold down alt and click on any element to zoom in on it using
            a(href='http://lab.hakim.se/zoom-js') zoom.js
            | . Alt + click anywhere to zoom back out.
        section
          h2 Works in Mobile Safari
          p
            | Try it out! You can swipe through the slides and pinch your way to the overview.
        section
          h2 Marvelous Unordered List
          ul
            li No order here
            li Or here
            li Or here
            li Or here
        section
          h2 Fantastic Ordered List
          ol
            li One is smaller than...
            li Two is smaller than...
            li Three!
        section(data-markdown='data-markdown')
          script(type='text/template')
            ## Markdown support
            For those of you who like that sort of thing. Instructions and a bit more info available [here](https://github.com/hakimel/reveal.js#markdown).
            ```
            <section data-markdown>
            ## Markdown support
            For those of you who like that sort of thing.
            Instructions and a bit more info available [here](https://github.com/hakimel/reveal.js#markdown).
            </section>
            ```
        section#transitions
          h2 Transition Styles
          p
            | You can select from different transitions, like:
            br
            a(href='?transition=cube#/transitions') Cube
            | -
            a(href='?transition=page#/transitions') Page
            | -
            a(href='?transition=concave#/transitions') Concave
            | -
            a(href='?transition=zoom#/transitions') Zoom
            | -
            a(href='?transition=linear#/transitions') Linear
            | -
            a(href='?transition=fade#/transitions') Fade
            | -
            a(href='?transition=none#/transitions') None
            | -
            a(href='?#/transitions') Default
        section#themes
          h2 Themes
          p
            | Reveal.js comes with a few themes built in:
            br
            a(href='?#/themes') Default
            | -
            a(href='?theme=sky#/themes') Sky
            | -
            a(href='?theme=beige#/themes') Beige
            | -
            a(href='?theme=simple#/themes') Simple
            | -
            a(href='?theme=serif#/themes') Serif
            | -
            a(href='?theme=night#/themes') Night
            br
            a(href='?theme=moon.css#/themes') Moon
            | -
            a(href='?theme=simple.css#/themes') Simple
            | -
            a(href='?theme=solarized.css#/themes') Solarized
          p
            small
              | * Theme demos are loaded after the presentation which leads to flicker. In production you should load your theme in the
              code <head>
              | using a
              code <link>
              | .
        section
          h2 Global State
          p
            | Set
            code data-state="something"
            | on a slide and
            code "something"
            | will be added as a class to the document element when the slide is open. This lets you
            | apply broader style changes, like switching the background.
        section(data-state='customevent')
          h2 Custom Events
          p
            | Additionally custom events can be triggered on a per slide basis by binding to the
            code data-state
            | name.
          pre.
            
        section
          section(data-background='#007777')
            h2 Slide Backgrounds
            p
              | Set
              code data-background="#007777"
              | on a slide to change the full page background to the given color. All CSS color formats are supported.
            a.image.navigate-down(href='#')
              img(width='178', height='238', src='https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png', alt='Down arrow')
          section(data-background='https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png')
            h2 Image Backgrounds
            pre.
              
          section(data-background='https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png', data-background-repeat='repeat', data-background-size='100px')
            h2 Repeated Image Backgrounds
            pre.
              
        section(data-transition='linear', data-background='#4d7e65', data-background-transition='slide')
          h2 Background Transitions
          p
            | Pass reveal.js the
            code backgroundTransition: 'slide'
            | config argument to make backgrounds slide rather than fade.
        section(data-transition='linear', data-background='#8c4738', data-background-transition='slide')
          h2 Background Transition Override
          p
            | You can override background transitions per slide by using
            code data-background-transition="slide"
            | .
        section
          h2 Clever Quotes
          p
            | These guys come in two forms, inline:
            q(cite='http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations')
              | „The nice thing about standards is that there are so many to choose from”
            | and block:
          blockquote(cite='http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations')
            | „For years there has been a theory that millions of monkeys typing at random on millions of typewriters would
            | reproduce the entire works of Shakespeare. The Internet has proven this theory to be untrue.”
        section
          h2 Pretty Code
          pre.
            
          p
            | Courtesy of
            a(href='http://softwaremaniacs.org/soft/highlight/en/description/') highlight.js
            | .
        section
          h2 Intergalactic Interconnections
          p
            | You can link between slides internally,
            a(href='#/2/3') like this
            | .
        section
          section
            h2 Fragmented Views
            p Hit the next arrow...
            p.fragment ... to step through ...
            ol
              li.fragment
                code any type
              li.fragment
                em of view
              li.fragment
                strong fragments
            aside.notes
              | This slide has fragments which are also stepped through in the notes window.
          section
            h2 Fragment Styles
            p There's a few styles of fragments, like:
            p.fragment.grow grow
            p.fragment.shrink shrink
            p.fragment.roll-in roll-in
            p.fragment.fade-out fade-out
            p.fragment.highlight-red highlight-red
            p.fragment.highlight-green highlight-green
            p.fragment.highlight-blue highlight-blue
        section
          h2 Spectacular image!
          a.image(href='http://lab.hakim.se/meny/', target='_blank')
            img(width='320', height='299', src='http://s3.amazonaws.com/hakim-static/portfolio/images/meny.png', alt='Meny')
        section
          h2 Export to PDF
          p
            | Presentations can be
            a(href='https://github.com/hakimel/reveal.js#pdf-export') exported to PDF
            | , below is an example that's been uploaded to SlideShare.
          iframe#slideshare(src='http://www.slideshare.net/slideshow/embed_code/13872948', width='455', height='356', style='margin: 0; overflow: hidden; border: 1px solid #CCC; border-width: 1px 1px 0; margin-bottom: 5px;', allowfullscreen='allowfullscreen')  
          script
            document.getElementById('slideshare').attributeName = 'allowfullscreen';
        section
          h2 Take a Moment
          p
            | Press b or period on your keyboard to enter the 'paused' mode. This mode is helpful when you want to take distracting slides off the screen
            | during a presentation.
        section
          h2 Stellar Links
          ul
            li
              a(href='http://slid.es') Try the online editor
            li
              a(href='https://github.com/hakimel/reveal.js') Source code on GitHub
            li
              a(href='http://twitter.com/hakimel') Follow me on Twitter
        section
          h1 THE END
          h3 BY Hakim El Hattab / hakim.se
    script(src='lib/js/head.min.js')
    script(src='js/reveal.min.js')
    script
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'linear', // default/cube/page/concave/zoom/linear/fade/none
        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });
