!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title "No hay cambio sin experimento" #enji2013
    meta(name='description', content='Presentación para #enji2013')
    meta(name='author', content='Mariano Crowe')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='css/reveal.min.css')
    link#theme(rel='stylesheet', href='css/theme/night.css')
    //
       For syntax highlighting 
    link(rel='stylesheet', href='lib/css/zenburn.css')
    //
       If the query includes 'print-pdf', use the PDF print sheet 
    script
      document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    //if lt IE 9
      script(src='lib/js/html5shiv.js')
    link(rel='stylesheet', href='css/main.css')
  body
    .reveal
      //
         Any section element inside of this container is displayed as a slide 
      .slides
        section

        section
          | <iframe width="950" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=Lima,+Departamento+de+Lima,+Per%C3%BA&amp;daddr=Tunuy%C3%A1n,+Mendoza,+Argentina&amp;hl=es-419&amp;geocode=FTgqSP8dxR9o-ylnllMe28gFkTEp2nugilNFTw%3BFaG-__0dIvHi-ylTd6l50CV8ljHDW4_qk2RMPg&amp;aq=0&amp;oq=lima&amp;sll=-22.800103,-70.988824&amp;sspn=25.350182,37.353516&amp;t=h&amp;dirflg=w&amp;mra=ltm&amp;ie=UTF8&amp;ll=-22.917923,-70.839844&amp;spn=82.217166,166.816406&amp;z=3&amp;output=embed"></iframe>
          br
          br
          h4 Tunuyán, Mendoza, Argentina
          aside.notes
            | Tunuyán, un lugar hermoso, pero para un adolescente no pasa nada

        section
          img(src="images/tunuyan.jpg")
          br
          br
          h4 Tunuyán, Mendoza, Argentina
          aside.notes
            | Tunuyan es un lugar hermoso, pero no hay ni siquiera una biblioteca municipal

        section
          img.limpia(src="images/libros.png" height="550")

        section
          img(src="images/curiosidad.jpg")
          aside.notes
            | los libros se agotaron rapidamente
            | pero por suerte llegaron las PCs

        section
          img(src="images/biblioteca-fiuba.jpg")

        section
          img(src="images/biblioteca-hpotter.jpg")
          aside.notes
            ul
              li aprender a pensar pensando
              li aprender a experimentar experimentando
              li open-source
              li con la cantidad de cosas que hay para aprender, por que estoy aprendiendo cosas q no quiero

            p 1er experimento -- dejar la universidad, comenzar a trabajar
            ul
              li como practicante aprender solo a través de internet

        section
          h2 conocimiento libre
          h2 incertidumbre
          h2 desafío

          aside.notes
            p Muchos experimentos: viajar, y trabajar en empresas grandes, medianas y pequeñas, como freelancer, hacer investigación
            p Armar un arsenal de herramientas open source -- la herramienta correcta para el problema indicado
            p Principal problema: cuando uno se vuelve funcional a una empresa, tu jefe ya no quiere que hagas otra cosa

        section
          img(src="images/bored-cat.jpg")

        section
          a(href="https://twitter.com/kikomayorga" target="_blank")
            img(src="images/kiko.jpg")
            p
              small @kikomayorga
          a(href="http://escuelab.org" target="_blank")
            img(src="images/escuelab.jpg" style="height: 300px")
            p
              small @escuelab

        section
          section
            h1 experimentos
            img(src="images/experimento.jpg")

          section.spaced
            h2.fragment.win un robot que enseña quechua por twitter

          section.spaced
            h2.fragment.fail un taller de android mal promocionado

          section.spaced
            h2.fragment.win talleres con niños en la selva

          section.spaced
            h2.fragment.win experimentos electrónicos con adolescentes

          section.spaced
            h2.fragment.fail un robot que acusa a los alcaldes por twitter

          section.spaced
            h2.fragment.win un servidor wi-fi de fotos y libros

          section.spaced
            h2.fragment.win una estación de streaming con una XO

          section.spaced
            h2.fragment.win una app para saber que combi tomar

          section.spaced
            h2.fragment.fail apropiación tecnológica para ONGs

          section.spaced
            h2.fragment.fail un cartel de 1.5m de alto con 15 LEDs en línea

          section.spaced
            h2.fragment.win un video juego que te enseña a separar la basura

          section.spaced
            h2.fragment.fail una app para mapear la basura de tu barrio

          section.spaced
            h2.fragment.win una estación meteorológica basada en hardware libre

          section.spaced
            h2.fragment.fail activismo por la libertad de internet

          section.spaced
            h2.fragment.win una app para viajar seguro en taxi

          section.spaced
            h2.fragment.win talleres prácticos de arduino

          section.spaced
            h2.fragment.win un tacho de basura que te persigue

          section.spaced
            h2.fragment.fail un espacio de

          section.spaced
            h2.fragment.win un mapa con todos los ríos del perú

          section.spaced
            h2.fragment.fail la máquina impresora de software

          section.spaced
            h2.fragment.win ayudar al gobierno a liberar información

          section.spaced
            h2.fragment.fail trabajar con el estado ganando dinero

          section.spaced
            h2.fragment.fail la primer hackatón del perú

          section.spaced
            h2.fragment.win 4 hackatones más

          section.spaced
            h2.fragment.win invenciones con niños a 3000 msnm

          section.spaced
            h2.fragment.win parrilladas geek

        section.spaced
          h1 ... y muchos experimentos más

        section
          h1 hackers

        section.spaced
          h2.fragment.fail Un hacker es un delincuente informático

        section.spaced
          h2
            i "Persona que disfruta del desafío intelectual de superar o evitar limitaciones a través de la creatividad"

        section.spaced
          h2
            i "Un hacker es aquel que trabaja con gran pasión y entusiasmo por lo que hace."
          br
          h4
            | Pekka Himanen,
            | <i>La ética del hacker y el espíritu de la era de la información</i>

        section
          h2 Los emprededores
          div.fragment
            h2 somos
            h1 hackers

        section.spaced
          h2 Valores del HACKER
          div(style="float: left")
            ul
              li
                h3 curiosidad
              li
                h3 interés
              li
                h3 experimentación
              li
                h3 desafío
              li
                h3 conocimiento libre
          div(style="float: right")
            ul
              li
                h3 incertidumbre
              li
                h3 pasión
              li
                h3 libertad
              li
                h3 creatividad
              li
                h3 diversión


        section.spaced
          h1 No hay cambio sin experimento
          p
            small
              | Mariano Crowe
              | /
              a(href='http://twitter.com/escuelab') @escuelab
              | /
              | <iframe src="http://ghbtns.com/github-btn.html?user=merunga&repo=enji2013&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="150" height="25"></iframe>
          p
            small
              a(href="http://merunga.github.io/enji2013") merunga.github.io/enji2013
          p
            small
              a(href='http://creativecommons.org/licenses/by-sa/3.0/deed.es_CO', target='_blank')
                img(src='http://es.creativecommons.org/blog/wp-content/uploads/2013/04/by-sa_petit.png', alt='cc-by-sa')

    script(src='lib/js/head.min.js')
    script(src='js/reveal.min.js')
    script
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'linear', // default/cube/page/concave/zoom/linear/fade/none
        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });
